
body{
    background-color: #f6ebbf
}
header{
    text-align: center;
    width: 100%;
}
h1{
    
    background-color: #d37d3f;
    color: white;
    text-shadow: 2px 2px grey;
    height: 40px;
}

h2{
    background-color: #dca782;
    width: 90%;
    margin-left: 14px;
    padding-left: 10px;
    color: rgb(95, 70, 58);
    text-shadow: 1px 1px rgb(214, 177, 113)
}

main p{
width: 80%;
margin-left: 50px;
margin-top: -16px ;
border: 2px solid black;
padding-left: 10px;
padding-bottom: 10px;
}

p a{
    text-decoration: none;
}
p a:hover{
    color: rgb(125, 139, 182);
}

footer {
    border: none;
    text-align: center;
}